{% extends "base.html" %}
{% block title %}Blog{% endblock %}


{% block content %}
<br>
	<div class="row">
		{% for post in posts %}
		<div id="ddd" class="col-sm-12 col-md-6  pb-4">
			<div class="card h-100" style="border:none">
				<img src="{{post.image.url}}" class="card-img-top" alt="{}">
			  	<div class="card-body">
					<h5 class="card-title">{{ post.name }}</h5>
				  	<p class="card-text">{{ post.content|safe|linebreaks | truncatewords:10 }}</p>
				  	<a href="{{ post.get_absolute_url}}" class="btn btn-primary">Read more</a>
			  	</div>
			</div>
		</div>
		{% endfor %}
	</div>



<style>
 #ddd{
 margin-top:20px;
 }
</style>


{% endblock %}