{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
                <article>
                    <style>
                        h1{
                        text-align:center;}
                        img{width:650px;}
                    </style>
                    <h1>Welcome to my site!</h1>

                    <img src="https://r4.wallpaperflare.com/wallpaper/954/589/282/nerds-computer-minimalism-programming-wallpaper-f930982de1ca1debb647787f00a1560d.jpg"/>
                </article>
{% endblock %}